@import '../../styles/variables';
@import '../../styles/functions';

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    margin-bottom: spacer();

    .mat-error {
        font-variant: all-small-caps;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
}

.mat-form-field,
.mat-raised-button {
    margin-bottom: spacer();
}
