*.DS_Store
*.gz
*.iml
*.ipr
*.iws
*.launch
*.map
*.paw
*.sql
*.sublime-project
*.sublime-workspace
*.tmp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.c9
.classpath
.docker-sync
.elasticbeanstalk
.env
.fseventsd
.idea
.phpunit
.project
.sass-cache
.settings
.vscode
/phpunit.xml
Icon
Icon
Network Trash Folder
Temporary Items
Thumbs.db
client/e2e/*.js
client/e2e/*.map
composer.phar
connect.lock
coverage
dist
dist-server
docker-sync*
libpeerconnection.log
node_modules
npm-debug.log*
out-tsc
server/public/bundles/
server/var/
server/vendor/
testem.log
tmp
typings
yarn-error.log
