*.DS_Store
*.gz
*.iml
*.ipr
*.iws
*.launch
*.map
*.paw
*.sql
*.sublime-project
*.sublime-workspace
*.tmp
*~
._*
.apdisk
.c9/
.classpath
.docker-sync
.DocumentRevisions-V100
.elasticbeanstalk
.fseventsd
.idea/
.LSOverride
.php_cs.cache
.phpintel
.project
.sass-cache
.settings/
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vscode
composer.phar
connect.lock
docker-compose.yml
docker-sync*
Icon
libpeerconnection.log
node_modules/
npm-debug.log*
package-lock.json
phpunit.xml
testem.log
Thumbs.db
yarn-error.log
