*.DS_Store
*.gz
*.iml
*.ipr
*.iws
*.launch
*.map
*.paw
*.sql
*.sublime-project
*.sublime-workspace
*.tmp
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.c9
.classpath
.docker-sync
.DocumentRevisions-V100
.elasticbeanstalk
.env
.fseventsd
.idea
.LSOverride
.phpunit
.php_cs.cache
.project
.sass-cache
.settings
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vscode
behat.yml
clover.xml
client/e2e/*.js
client/e2e/*.map
composer.phar
connect.lock
coverage
dist
dist-server
docker-compose.yml
docker-sync*
Icon
libpeerconnection.log
Network Trash Folder
node_modules
npm-debug.log*
out-tsc
phpunit.xml
server/public/bundles/
server/var/
server/vendor/
Temporary Items
testem.log
Thumbs.db
tmp
typings
yarn-error.log
