version: "3"

services:

    debian:
        build: ./docker/debian

    nginx:
        build: ./docker/nginx
        depends_on:
            - debian
            - node
            - php
        entrypoint: docker-entrypoint.sh
        ports:
            - "8000:8000"
            - "8001:8001"
        links:
            - node
            - php
        volumes:
            - ./docker/nginx/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro
            - ./docker/nginx/etc:/etc/nginx:rw
            - ./client:/srv/client:ro
            - ./server:/srv/server:ro

    node:
        build: ./docker/node
        depends_on:
            - debian
        entrypoint: docker-entrypoint.sh
        environment:
            - NODE_ENV=development
        volumes:
            - ./docker/node/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro
            - ./client:/srv/client:rw

    php:
        build: ./docker/php
        depends_on:
            - debian
            - postgres
        entrypoint: docker-entrypoint.sh
        environment:
            - XDEBUG_CONFIG=idekey= remote_host=
        links:
            - debian
            - postgres
        volumes:
            - ./docker/php/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro
            - ./docker/php/etc:/etc/php/7.2:rw
            - ./server:/srv/server:cached

    postgres:
        image: postgres:9.6.3
        ports:
            - "5432:5432"
