version: "3"

networks:

    network:
        ipam:
            config:
                - subnet: 172.31.0.0/24

services:

    debian:
        build: ./docker/debian

    nginx:
        build: ./docker/nginx
        depends_on:
            - debian
        entrypoint: docker-entrypoint.sh
        environment:
            APP_ENV: dev
            ANGULAR_PORT: 4200
            PHP_FPM_PORT: 9000
        ports:
            - "8000:8000"
            - "8001:8001"
        links:
            - node
            - php
        networks:
            - network
        volumes:
            - ./docker/nginx/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh
            - ./docker/nginx/etc:/etc/nginx
            - ./client:/srv/client:ro
            - ./server:/srv/server:rw

    node:
        build: ./docker/node
        depends_on:
            - debian
        entrypoint: docker-entrypoint.sh
        environment:
            APP_ENV: dev
            ANGULAR_DIR: /srv/client
            ANGULAR_ENV: dev
            ANGULAR_PORT: 4200
        networks:
            - network
        ports:
            - "4200:4200"
        volumes:
            - ./docker/node/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh
            - ./client:/srv/client:rw

    php:
        build: ./docker/php
        depends_on:
            - debian
        entrypoint: docker-entrypoint.sh
        environment:
            APP_ENV: dev
            DATABASE_HOST: postgres
            DATABASE_PORT: 5432
            SYMFONY_DIR: /srv/server
            XDEBUG_CONFIG: idekey= remote_host=
        depends_on:
            - postgres
        links:
            - postgres
        networks:
            - network
        ports:
            - "9000:9000"
        volumes:
            - ./docker/php/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh
            - ./docker/php/etc:/etc/php/7.2:rw
            - ./server:/srv/server:rw

    postgres:
        image: postgres:9.6.3
        environment:
            POSTGRES_PASSWORD: webapp
            POSTGRES_USER: webapp
        networks:
            - network
        ports:
            - "5432:5432"
