version: "3"

networks:

    network:
        ipam:
            config:
                - subnet: 172.31.0.0/24

services:

    nginx:
        image: viaggi/nginx:latest
        entrypoint: docker-entrypoint.sh
        environment:
            APP_ENV: dev
            ANGULAR_PORT: 4200
            PHP_FPM_PORT: 9000
        ports:
            - "8000:8000"
            - "8001:8001"
        links:
            - node
            - php
        networks:
            - network
        volumes:
            - ./docker/entrypoint/nginx.sh:/usr/local/bin/docker-entrypoint.sh
            - ./docker/etc/nginx:/etc/nginx:rw
            - ./client:/srv/client:ro
            - ./server:/srv/server:rw

    node:
        image: viaggi/node:latest
        entrypoint: docker-entrypoint.sh
        environment:
            APP_ENV: dev
            ANGULAR_DIR: /srv/client
            ANGULAR_ENV: dev
            ANGULAR_PORT: 4200
        networks:
            - network
        ports:
            - "4200:4200"
        volumes:
            - ./docker/entrypoint/node.sh:/usr/local/bin/docker-entrypoint.sh
            - ./client:/srv/client:rw

    php:
        image: viaggi/php:latest
        entrypoint: docker-entrypoint.sh
        environment:
            APP_ENV: dev
            DATABASE_HOST: postgres
            DATABASE_PORT: 5432
            SYMFONY_DIR: /srv/server
            XDEBUG_CONFIG: idekey= remote_host=
        depends_on:
            - postgres
        links:
            - postgres
        networks:
            - network
        ports:
            - "9000:9000"
        volumes:
            - ./docker/entrypoint/php.sh:/usr/local/bin/docker-entrypoint.sh
            - ./docker/etc/php:/etc/php/7.2:ro
            - ./server:/srv/server:rw

    postgres:
        image: postgres:9.6.3
        environment:
            POSTGRES_PASSWORD: webapp
            POSTGRES_USER: webapp
        networks:
            - network
        ports:
            - "5432:5432"
