@import '../variables';
@import '~@angular/material/theming';

@include mat-core();

$mat-theme-primary: mat-palette($app-blue);
$mat-theme-accent: mat-palette($app-orange, A200, A100, A400);
$mat-theme-warn: mat-palette($app-red);
$mat-theme: mat-light-theme($mat-theme-primary, $mat-theme-accent, $mat-theme-warn);
@include angular-material-theme($mat-theme);

$mat-typography: mat-typography-config(
    $font-family: '#{$font-family-default}',
    $display-4: mat-typography-level(5 * $base-font-size, $line-height, $font-weight-normal),
    $display-3: mat-typography-level(4 * $base-font-size, $line-height, $font-weight-normal),
    $display-2: mat-typography-level(3 * $base-font-size, $line-height, $font-weight-normal),
    $display-1: mat-typography-level($font-size-xl, $line-height, $font-weight-normal),
    $headline: mat-typography-level($font-size-lg, $line-height, $font-weight-normal),
    $title: mat-typography-level($font-size-lg, $line-height, $font-weight-bold),
    $subheading-2: mat-typography-level($font-size-md, $line-height, $font-weight-normal),
    $subheading-1: mat-typography-level($font-size-md, $line-height, $font-weight-normal),
    $body-2: mat-typography-level($font-size-md, $line-height, $font-weight-bold),
    $body-1: mat-typography-level($font-size-md, $line-height, $font-weight-normal),
    $caption: mat-typography-level($font-size-sm, $line-height, $font-weight-normal),
    $button: mat-typography-level($font-size-md, $font-weight-normal),
    $input: mat-typography-level($font-size-md, 1.25, $font-weight-normal)
);
@include angular-material-typography($mat-typography);

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    src: url(https://fonts.gstatic.com/s/materialicons/v28/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'),
    url(https://fonts.gstatic.com/s/materialicons/v28/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff) format('woff');
}

.material-icons {
    display: inline-block;
    line-height: 1;
    font-family: 'Material Icons', sans-serif;
    font-feature-settings: 'liga';
    font-size: spacer();
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.mat-button,
.mat-raised-button {
    font-weight: $font-weight-normal;
    font-variant: all-small-caps;

    &:hover {
        text-decoration: none;
    }

    .mat-button-focus-overlay {
        background-color: transparent;
    }
}

.mat-placeholder-required {
    display: none;
}

.mat-toolbar {
    background-color: transparent;

    .mat-toolbar-spacer {
        flex: 1 1 auto;
    }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: spacer(3) !important;
    padding: 0 spacer(4/3) !important;
}

.mat-snack-bar-container {
    &.error {
        background-color: mat-color($mat-theme-warn);
    }
}
