<header class="app-header" [@header]>
    <mat-toolbar>
        <a mat-button routerLink="/" rel="home">{{ title }}</a>
        <span class="mat-toolbar-spacer"></span>
        <a mat-button href="{{ environment.urls.api }}/docs">Swagger Docs</a>
        <nav>
            <ng-container *ngIf="!authenticated; else accountLinks">
                <a mat-button routerLink="/signin">Sign In</a>
            </ng-container>
            <ng-template #accountLinks>
                <a mat-button (click)="logout()" class="link">Sign Out</a>
            </ng-template>
        </nav>
    </mat-toolbar>
</header>
<main [@routerTransition]="getRouterTransitionState(o)">
    <router-outlet #o="outlet"></router-outlet>
</main>
<activity></activity>
<notification></notification>
