<form *ngIf="!completed" [formGroup]="form" (submit)="submit()">
    <fieldset [disabled]="submitting">
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" id="username" required spellcheck="false">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" id="password" type="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || submitting">Sign In</button>
    </fieldset>
</form>
