<header>
    <h1><a routerLink="." routerLinkActive="active">Sign In</a></h1>
</header>
<ng-container *ngIf="token; else signin">
    <p>You&apos;re currently signed-in as <strong>{{ token.username }}</strong>.
        <a class="link" (click)="logout($event)">Sign-out</a>.
    </p>
</ng-container>
<ng-template #signin>
    <div [@routeTransition]="o.isActivated ? o.activatedRoute.snapshot : null">
        <router-outlet #o="outlet"></router-outlet>
    </div>
    <p>Don&apos;t have an account? <a routerLink="/signup">Sign-up</a>.</p>
</ng-template>

